/* .student{
 font-family: Arial,sans-serif;
 font-size: 2rem;
 padding: 10px;   
 border: 1px solid hsl(0,0%,50%,0.8);
 margin: 10px;
} */

/* .welcome-msg{
    font-size: 2.5rem;
    background-color: hsl(120,100%,42%);
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 0;
}

.login-prompt{
    font-size: 2.5rem;
    background-color: hsl(2, 100%, 42%);
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 0;
} */

/* .list-category{
    font-size: 2.5rem;
    font-weight: bold;
    color: hsl(0,0%,20%);
    margin-bottom: 10px;
    text-align: center;
    border: 3px solid ;
    background-color: hsl(185,100%,50%);
    border-radius: 10px;
}

.list-items li{
font-size: 2em;
list-style: none;
color: hsl(0,0%,25%);
text-align: center;
margin: 0;
}

.list-items li:hover{
    color: hsl(0,0%,50%);
    cursor: pointer; */
    /* } */

body{
    font-family: Arial,sans-serif;
}

.color-picker-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    margin: 50px;
    font-size: 3rem;
}

.color-display{
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid hsl(0,0%,80%);
    border-radius: 20px;
    margin-bottom: 15px;
    transition: 0.25s ease;
}

.color-display p{
    color: hsl(0,0%,20%);
    font-size: 2rem;
    text-align: center;
}

input[type='color']{
    width: 75px;
    height: 50px;
    padding: 5px;
    border-radius: 5px;
    border: 3px solid hsl(0,0%,70%);
}